*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
/* CSS custom properties */
:root{
    --first-color:#b7d9db;
    --second-color:#013033;
}
img{
    height:400px;
    width:  270px;
    border-radius: 10px;
}
.cards , .filtered , .myfav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap:10px;
    margin : 10px;
    padding: 10px 20px;
    background-color: var(--first-color);
}
.image{
    border: rgb(100, 26, 26) solid 2px;
    border-radius: 10px;
    margin: 10px;
    padding:10px;
    /* background-color:rgb(223, 198, 190); */
    
}

.Gallery{
    position: absolute;
    top : 10px;
    left : 75px;
    color: var(--first-color);
}
.logo{
    display:flex;
}
.navBar{
    position: sticky;
    background-color: var(--second-color);
    height: 70px;
}
.categoires{
    position:absolute;
    right:20px ;
    top:20px;
    width:100px;
    height:30px;
    background-color:var(--second-color);
    border:none;
}
.out{
    position:absolute;
    right:300px ;
    top:20px;
    width:100px;
    height:30px;
    background-color:var(--second-color);
    border:none;
}
h3 , p{
color:var(--second-color) ;
line-height: 200%;
opacity: 1;
}

.categoires{
display: inline-block;
}
.list {
    font-size:large;
    background-color:var(--second-color);
    color: var(--first-color);
    display: inline-block;
    border:none;
    font-size: x-large;
    font-weight: 700;
    position: relative;
    right:80px;
}
.out {
    font-size:large;
    background-color:var(--second-color);
    color: var(--first-color);
    border:none;
    font-size: x-large;
    font-weight: 700;
    right:200px;
}
button:hover {
    background-color: var(--first-color);
    color: var(--second-color);
    border:var(--second-color) solid;
}
h4:hover {
    background-color: var(--first-color);
    color: var(--second-color);
}
h4{
    font-weight: normal;
}

.categoires:hover .cat {
display:block;
}
.cat ,h4{
    background-color:var(--second-color);
    color: var(--first-color);
    padding:12px 16px;
    display: block;
}
.cat{
  display: none;
  position:absolute;
  background-color:  var(--first-color);
  z-index: 1;
}

path:hover{    /* svg  */
    color:rgb(226, 66, 66);
}
.logIn, .register{
    display: grid;
    grid-template-rows: 4fr;
    background: var(--first-color);
    gap: 20px;  
    color:var(--second-color);
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border:var(--second-color) solid;
}
input{
    height: 35px;
    width: 300px;
}
button{
    height: 35px;
    width: 200px;
    background-color:var(--second-color);
    color: var(--first-color);
   
}



