*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    height: 300px;
    width:  200px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap:10px;
    margin : 10px;
    padding: 10px;
    background-color: #b7d9db;

}
.image{
    border: brown solid 1px;
    margin: 10px;
    padding:10px;
    
}
.Gallery{
    position: absolute;
    top : 10px;
    left : 75px;
    color:#9acfd3;
}
.logo{
    display:flex;
}
.navBar{
    position: sticky;
    background-color: #013033;
}
.list{
    position:absolute;
    right:20px ;
    top:20px;
}
h1 , p{
color:#013033 ;
}